{{ define "homePage" }}

{{ template "header" }}

<style>
    .col {
        background: #FFFFFF; /* Цвет фона */
        width: 500px; /* Ширина блока */
        padding: 10px; /* Поля */
        font-size: 1em; /* Размер шрифта */
        word-wrap: break-word; /* Перенос слов */
    }
</style>

<h1>Have a nice day, <i>{{.Username}}</i>!</h1>
    <br>
    ID: {{.ID}}<br>
    {{if .NoPosts}} You don't have posted thoughts yet. What about <a href="/users/{{.Username}}/newPost">creating</a> the first one?
    {{else}}
    Got something new to say? Press <a href="/users/{{.Username}}/newPost">here</a> to make a new <i>post</i><br><br>
    You have {{.PostCount}} posts:<br>
    {{range .Posts}}
        <div class="posts">
            <p>---------{{.Date}} <b>{{.Title}}</b>---------<br>
            {{.Body}}</p><br>
        </div>
        {{end}}
    {{ end }}
{{ end }}