{{ define "incorrectPassword" }}

{{ template "noCookieHeader" }}

<html>
    <body>
    <h1> Welcome to the best blog web site over the world</h1></h1><br />
    Enter your <b>username</b> to start working here:<br>
        <span style="color: red; ">Incorrect password. Please try again.</span> <br>
        <form action="/incorrectPassword" method="post">
            <input type="text" name="username" maxlength="16" minlength="3">
            <input type="password" name="password" maxlength="16" minlength="3">
            <input type="submit" value="I'm with you!">
        </form>
    <br>Or pass registration if you don't have account yet
    </body>
</html>

{{ end }}