{{/*{{ define "main" }}*/}}

{{/*{{ template "header" }}*/}}

{{/*<style>*/}}
    {{/*.col {*/}}
        {{/*background: #FFFFFF; /* Цвет фона */*/}}
        {{/*width: 500px; /* Ширина блока */*/}}
        {{/*padding: 10px; /* Поля */*/}}
        {{/*font-size: 1em; /* Размер шрифта */*/}}
        {{/*word-wrap: break-word; /* Перенос слов */*/}}
    {{/*}*/}}
{{/*</style>*/}}

{{/*<h1> Welcome to the best blog web site over the world</h1></h1><br />*/}}
        {{/*Have a nice day, <b>{{.Username}}</b>! <a href="/logout">logout</a><br>*/}}
        {{/*Password: {{.Password}}<br>*/}}
        {{/*ID: {{.ID}}<br>*/}}
        {{/*{{if .NoPosts}} You don't have posted thoughts yet. What about <a href="/newPost">creating</a> the first one?<br>*/}}
        {{/*{{else}}*/}}
                {{/*Got something new to say? Press <a href="/newPost">here</a> to make a new <i>post</i><br><br>*/}}
                {{/*You have {{.PostCount}} posts:<br>*/}}
                {{/*{{range .Posts}}*/}}
                        {{/*<div class="col">*/}}
                        {{/*<p>---------{{.Date}} <b>{{.Title}}</b>---------<br>*/}}
                        {{/*{{.Body}}</p><br><br>*/}}
                        {{/*</div>*/}}
                {{/*{{ end }}*/}}
        {{/*{{ end }}*/}}

{{/*{{ end }}*/}}