{{ define "registerInvalidSymbols" }}

{{ template "noCookieHeader"}}

<html>
    <body>
        <span style="color: red; ">Our form supports only alphabetic values from 3 and up to 16 symbols.</span><br>
        Choose yourself username and password and press <i>Register</i><br>
        <br>
        <form action="/registerInvalidSymbols" method="post">
            <input type="text" name="account" maxlength="16" minlength="3">
            <input type="password" name="password" maxlength="16" minlength="3">
            <input type="submit" value="Register">
        </form>
    </body>
</html>

{{ end }}